@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('essquare_colors.css');

body {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}

::-moz-selection {
    background: var(--essquare-beige);
}

::selection {
    background: var(--essquare-beige);
}

.btn-transparent:hover,
.btn-transparent:focus {
    background-color: var(--essquare-beige);
}

.border:before {
    background-color: var(--essquare-beige);
}

a:focus,
a:hover {
    color: var(--essquare-beige);
}

.btn-main {
    background: var(--essquare-beige);
}

.btn-main:hover {
    background: var(--essquare-beige-dark);
}

.sk-cube-grid .sk-cube {
    background-color: var(--essquare-beige);
}

.title h2 span {
    color: var(--essquare-beige);
}

.header-bradcrumb a,
.header-bradcrumb .active {
    font-family: "Lato", sans-serif;
}

.header-bradcrumb a:hover {
    color: var(--essquare-beige);
}

.navigation .navigation-menu li.active a {
    color: var(--essquare-beige);
}

.navigation .navigation-menu li a:hover,
.navigation .navigation-menu li a:focus {
    color: var(--essquare-beige);
}

.hero-area .block img {
    height: auto;
    width: 25%;
}

.hero-area .block .video-button {
    color: var(--essquare-beige);
}

.about .block:hover {
    border-bottom: 2px solid var(--essquare-beige);
}

.about-2 .content-block .media i {
    color: var(--essquare-beige);
}

.contact-form input:hover,
.contact-form textarea:hover,
#contact-submit:hover {
    border-color: var(--essquare-beige);
}

#contact-submit {
    background: var(--essquare-beige);
}

.price-title h3 {
    color: var(--essquare-beige);
}

.price-title .value {
    color: var(--essquare-beige);
}

.portfolio-filter button.mixitup-control-active {
    border: 1px solid var(--essquare-beige);
    color: var(--essquare-beige);
}

.portfolio-block .caption .search-icon {
    background: var(--essquare-beige);
}

.service-2 .service-item:hover i {
    color: var(--essquare-beige);
}

.service-2 .service-item i {
    background: var(--essquare-beige) none repeat scroll 0 0;
}

.skill-bar .progress .progress-bar {
    background: var(--essquare-beige);
}

.member-photo .mask ul li a:hover {
    color: var(--essquare-beige);
}

.owl-controls .owl-page.active span,
.owl-controls .owl-page:hover span {
    background-color: var(--essquare-beige);
}

.post-meta a {
    color: var(--essquare-beige);
}

.next-prev a:hover {
    color: var(--essquare-beige);
}

.social-profile ul li a i:hover {
    color: var(--essquare-beige);
}

.comment-wrap .media .media-heading a {
    color: var(--essquare-beige);
}

.comment-reply-form input:focus,
.comment-reply-form textarea:focus {
    border: 1px solid var(--essquare-beige);
}

.social-icon ul li:hover a {
    background-color: var(--essquare-beige);
}

#scrollUp:hover {
    background-color: var(--essquare-beige);
    border: 1px solid var(--essquare-beige);
}

aside.widget {
    margin-bottom: 25px;
}

.widget-title>h3 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
    position: relative;
}

.form-group:last-child,
.form-group:last-child input {
    margin: 0;
}

@media only screen and (min-width : 481px) {
    .flex-row.row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row.row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
}

.flex-row .thumbnail,
.flex-row .caption {
    flex:1 0 auto;
    flex-direction:column;
}
.flex-text {
    flex-grow:1
}
.flex-row img {
    height:auto;
    width:100%
}
/*========
  Footer
 ========*/
#footer .container .copyright img {
    height: auto;
    width: 5%;
}

/*=================================================================
  Services section
==================================================================*/
.service-block {
    border: 1px solid rgba(236, 239, 241, 0.07);
    box-shadow: none;
}