{{ if .Site.Data.team.enable}}
{{"<!-- Start Our Team -->" | safeHTML}}
<section class="section" id="team">
    <div class="container">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center">
            <h2>{{ with .Site.Data.team.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.team.headingSpan }} {{ . }} {{ end }}</span></h2>
            <div class="border"></div>
        </div>
        {{"<!-- /section title -->" | safeHTML}}        
        <div class="row flex-row">



            {{ range .Site.Data.team.teamMember}}
            {{"<!-- team member -->" | safeHTML}}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-member">
                    <div class="member-photo">
                        {{"<!-- member photo -->" | safeHTML}}
                        <img class="img-responsive" src="{{ .image | absURL }}" alt="Meghna">

                        {{"<!-- member social profile -->" | safeHTML}}
                        <div class="mask">
                            <ul class="list-inline">
                                {{ range .socialIcon }}
                                <li><a href="#"><i class="{{ .icon }}"></i></a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>

                    {{"<!-- member name & designation -->" | safeHTML}}
                    <div class="narrowgap">
                        <h4 class="text-center">{{ .name }}</h4>
                        <p class="text-center ">{{ .designation }}</p>
                        <p class="flex-text">{{ .description }}</p>
                    </div>
                </div>
            </div>
            {{"<!-- end team member -->" | safeHTML}}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}