{{ if .Site.Data.tools.enable}}
{{"<!-- Tools Section -->" | safeHTML}}
<section class="tools section" id="tools">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center">
                    <h2> {{ with .Site.Data.tools.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.tools.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border"></div>
                </div>
                {{"<!-- /section title -->" | safeHTML}}
            </div>
        </div>

        <div class="row">
            {{"<!-- tools item -->" | safeHTML}}
            {{ range .Site.Data.tools.toolsItem }}
            <div class="col-xs-12 col-sm-6 col-md-4 narrowgap">
                <a href="{{ .URL | absURL }}" target="_blank">
                    <img class="img-responsive" src="{{ .image | absURL}}" alt="work-image">
                </a>
            </div>
            {{ end }}
        </div>

    </div>
</section>
{{"<!-- /Tools‚ -->" | safeHTML}}
{{ end }}
